@charset "UTF-8";

.topics-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    left: 0;
}

.topics-list::-webkit-scrollbar {
    display: none;
}

.topics-list {
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

.topics__list-item {
    display: flex;
    white-space: nowrap;
    text-wrap: nowrap;
    font-size: .875rem;
    padding: .6em .7em;
    margin-left: .5em;
    background-color: var(--tx-light-gray);
    border-radius: 8px;
    font-weight: 500;
    transition: ease .2s;
    color: var(--full-black);
}

.topics__list-item:hover {
    cursor: pointer;
}

.ativo {
    background-color: var(--full-black);
    color: var(--white);
}

.topics__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 60px;
    background-color: var(--white);
    z-index: 10;
}

.topics__button-container--left {
    display: none;
    box-shadow: 30px 0px 10px var(--white);
}
.topics__button-container--right {
    box-shadow: -30px 0px 10px var(--white);
}

.topics__button {
    border: none;
    background-color: var(--white);
    height: 40px;
    border-radius: 50px;
    transition: ease .1s;
}

.topics__button:hover {
    cursor: pointer;
    background-color: var(--xx-light-gray);
}

.topics__button:active {
    background-color: var(--extra-light-gray);
}

.topics__button span {
    font-size: 30px;
}

@media (min-width: 541px) {

    .topics-container {
        left: 75px;
        padding: .6em 0;
        width: calc(100% - 90px);
    } 

    .topics__button-container--left {
        display: none;
    }
}

@media (min-width: 769px) {

    .topics__list-item {
        margin-left: .8em;
    }

    .topics__list-item:first-child {
        margin-left: 0;
    }
}

@media (min-width: 1281px) {

    .topics-container {
        left: 260px;
        width: calc(100% - 260px);
    }

    .topics__button-container {
        display: flex;
    }

    .topics__button-container--left {
        display: none;
    }
}
